<div id="contenitore">
  <div id="punteggio">Punti:&nbsp;<div #numero id="numero">0</div></div>
  <div id="parola"><div #caratteridigitati id="caratteridigitati"></div><div #caratteririmanenti id="caratteririmanenti"></div></div>
  <div id="tastiera">
    <div id="riga1">
      <div class="tasto"><button #Q class="apririga">Q</button></div>
      <div class="tasto"><button #W class="bottonealcentro">W</button></div>
      <div class="tasto"><button #E class="bottonealcentro">E</button></div>
      <div class="tasto"><button #R class="bottonealcentro">R</button></div>
      <div class="tasto"><button #T class="bottonealcentro">T</button></div>
      <div class="tasto"><button #Y class="bottonealcentro">Y</button></div>
      <div class="tasto"><button #U class="bottonealcentro">U</button></div>
      <div class="tasto"><button #I class="bottonealcentro">I</button></div>
      <div class="tasto"><button #O class="bottonealcentro">O</button></div>
      <div class="tasto"><button #P class="chiudiriga">P</button></div>
    </div>
    <div id="riga2">
      <div class="tasto"><button #A class="apririga">A</button></div>
      <div class="tasto"><button #S class="bottonealcentro">S</button></div>
      <div class="tasto"><button #D class="bottonealcentro">D</button></div>
      <div class="tasto"><button #F class="bottonealcentro">F</button></div>
      <div class="tasto"><button #G class="bottonealcentro">G</button></div>
      <div class="tasto"><button #H class="bottonealcentro">H</button></div>
      <div class="tasto"><button #J class="bottonealcentro">J</button></div>
      <div class="tasto"><button #K class="bottonealcentro">K</button></div>
      <div class="tasto"><button #L class="chiudiriga">L</button></div>
    </div>
    <div id="riga3">
      <div class="tasto"><button #Z class="apririga">Z</button></div>
      <div class="tasto"><button #X class="bottonealcentro">X</button></div>
      <div class="tasto"><button #C class="bottonealcentro">C</button></div>
      <div class="tasto"><button #V class="bottonealcentro">V</button></div>
      <div class="tasto"><button #B class="bottonealcentro">B</button></div>
      <div class="tasto"><button #N class="bottonealcentro">N</button></div>
      <div class="tasto"><button #M class="chiudiriga">M</button></div>
    </div>
  </div><br>
  <button id="generaParola" (click)="generaParola()">Genera frase da indovinare</button>
</div>
