#contenitore,#tastiera,.tasto,button,#punteggio,#parola{
  width:max-content;
  height:max-content;
  font-size:30pt;
  text-align:center;
}

#contenitore,#tastiera,.tasto,#punteggio,#parola{
  margin-top:auto;
  margin-left:auto;
  margin-bottom:auto;
  margin-right:auto;
}

#numero,#caratteridigitati,#caratteririmanenti{
  margin-top:0px;
  margin-left:0px;
  margin-bottom:0px;
  margin-right:0px;
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
  border:0px none transparent;
  width:100%;
  height:100%;
}

#punteggio,#parola{
  font-weight:bold;
}

#punteggio,#caratteridigitati{
  color:rgb(102,220,97);
}

#parola{
  color:white;
}

#riga1,#riga2,#riga3{
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
  margin-top:12px;
  margin-bottom:12px;
  border:0px none transparent;
  width:min-content;
}

#contenitore,#tastiera,.tasto,#punteggio,#parola{
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
}

button{
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
}

.apririga{
  padding-top:13px;
  padding-left:13px;
  padding-bottom:13px;
  padding-right:13px;
  margin-left:0px;
  margin-right:5px;
}

.chiudiriga{
  padding-top:13px;
  padding-left:13px;
  padding-bottom:13px;
  padding-right:13px;
  margin-left:5px;
  margin-right:0px;
}

.bottonealcentro{
  padding-top:13px;
  padding-left:13px;
  padding-bottom:13px;
  padding-right:13px;
  margin-left:5px;
  margin-right:5px;
}

#contenitore,#punteggio,#parola{
  border:20px solid transparent;
}

#tastiera,.tasto{
  border:0px solid transparent;
}

button{
  background-color:rgb(238,238,238);
  border:4px solid rgb(77, 77, 77);
  color:rgb(107,107,107);
}

#contenitore,#tastiera{
  display:flex;
  flex-direction:column;
}

#punteggio,#parola,#riga1,#riga2,#riga3{
  display:flex;
  flex-direction:row;
}
