<div id="contenitore">
  <div id="punteggio">Punti:&nbsp;<div id="numero">0</div></div>
  <div id="parola">parola in questo spazio</div>
  <div id="tastiera">
    <div id="riga1">
      <div class="tasto"><button id="Q" (click)="premiTasto('Q')">Q</button></div>
      <div class="tasto"><button id="W" (click)="premiTasto('W')">W</button></div>
      <div class="tasto"><button id="E" (click)="premiTasto('E')">E</button></div>
      <div class="tasto"><button id="R" (click)="premiTasto('R')">R</button></div>
      <div class="tasto"><button id="T" (click)="premiTasto('T')">T</button></div>
      <div class="tasto"><button id="Y" (click)="premiTasto('Y')">Y</button></div>
      <div class="tasto"><button id="U" (click)="premiTasto('U')">U</button></div>
      <div class="tasto"><button id="I" (click)="premiTasto('I')">I</button></div>
      <div class="tasto"><button id="O" (click)="premiTasto('O')">O</button></div>
      <div class="tasto"><button id="P" (click)="premiTasto('P')">P</button></div>
    </div>
    <div id="riga2">
      <div class="tasto"><button id="A" (click)="premiTasto('A')">A</button></div>
      <div class="tasto"><button id="S" (click)="premiTasto('S')">S</button></div>
      <div class="tasto"><button id="D" (click)="premiTasto('D')">D</button></div>
      <div class="tasto"><button id="F" (click)="premiTasto('F')">F</button></div>
      <div class="tasto"><button id="G" (click)="premiTasto('G')">G</button></div>
      <div class="tasto"><button id="H" (click)="premiTasto('H')">H</button></div>
      <div class="tasto"><button id="J" (click)="premiTasto('J')">J</button></div>
      <div class="tasto"><button id="K" (click)="premiTasto('K')">K</button></div>
      <div class="tasto"><button id="L" (click)="premiTasto('L')">L</button></div>
    </div>
    <div id="riga3">
      <div class="tasto"><button id="Z" (click)="premiTasto('Z')">Z</button></div>
      <div class="tasto"><button id="X" (click)="premiTasto('X')">X</button></div>
      <div class="tasto"><button id="C" (click)="premiTasto('C')">C</button></div>
      <div class="tasto"><button id="V" (click)="premiTasto('V')">V</button></div>
      <div class="tasto"><button id="B" (click)="premiTasto('B')">B</button></div>
      <div class="tasto"><button id="N" (click)="premiTasto('N')">N</button></div>
      <div class="tasto"><button id="M" (click)="premiTasto('M')">M</button></div>
    </div>
  </div>
</div>
